page-tipos-ubicaciones ion-content {
	.item-block h2 {
		font-size: 1.4rem;
	}
	.no-padding, .no-padding ion-item {
		padding-left: 0 !important; 
	}
	.tipo-ubicacion.item-block { height: 5.5rem; 
		img { height: 5em !important; }
	}
}

page-tipos-ubicaciones .app-container {
  background-color: #fff;
}
