page-tipos-ubicaciones ion-content {
	.item-block h2 {
		font-size: 1.4rem;
	}
	.no-padding, .no-padding ion-item {
		padding-left: 0 !important; 
	}
	.tipo-ubicacion.item-block { height: 5.5rem; 
		img { height: 5em !important; }
	}
}


	page-tipos-ubicaciones .content {
		background: url('../assets/img/fondo_calendario.png') center -27px no-repeat #003333;
  		background-size: 320px 568px;
	}

	@media only screen 
	and (min-device-width : 375px) 
	and (max-device-width : 413px)
	and (orientation : portrait) {
	  page-tipos-ubicaciones .content {
	    background-size: 375px 667px;
	  }
	}

	@media only screen 
	and (min-device-width : 414px) {
	  page-tipos-ubicaciones .content {
	    background-size: 414px 736px;
	  }
	}