page-suscripciones-baja {

}
page-suscripciones-baja ion-content {
  background: url('../assets/img/fondo_calendario.png') center -27px no-repeat #003333;
  background-size: 320px 568px;

	.app-container { background-color: transparent; } 
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 413px)
and (orientation : portrait) {
  page-suscripciones-baja ion-content {
    background-size: 375px 667px;
  }

}

@media only screen 
and (min-device-width : 414px) {
  page-suscripciones-baja ion-content {
    background-size: 414px 736px;
  }
}