page-consultanos  ion-content {

	ion-label {
		overflow: visible;
	}

	.app-container {
	
		h2 { font-weight: bold; font-size: 1.8rem; position: relative; top: -2rem;
			small {  }
		}

		a {
			display: block;
			color: #fff;
			background-color: #000;
			width: 3.6em;
			height: 3.6em;
			line-height: 3.6em;
			border-radius: 1.8em;
			text-align: center;
		}
		a ion-icon {
			font-size: 4rem;
		}

	}

	.item-block
	{
		padding-left: 0;

		a[item-right] { margin-right: 20px; }
	}
}

	page-consultanos .content {
		background: url('../assets/img/fondo_calendario.png') center -27px no-repeat #003333;
  		background-size: 320px 568px;
	}

	@media only screen 
	and (min-device-width : 375px) 
	and (max-device-width : 413px)
	and (orientation : portrait) {
	  page-consultanos .content {
	    background-size: 375px 667px;
	  }
	}

	@media only screen 
	and (min-device-width : 414px) {
	  page-consultanos .content {
	    background-size: 414px 736px;
	  }
	}
