page-consultanos  ion-content {

	.app-container {
  		background-color: #fff;
	
		h2 { font-weight: bold; font-size: 1.8rem; position: relative; top: -1rem;
			small {  }
		}

		a {
			display: block;
			color: #fff;
			background-color: #000;
			width: 3em;
			height: 3em;
			line-height: 3em;
			border-radius: 1.5em;
			text-align: center;
		}
		a ion-icon {
			font-size: 1.8em;
		}

	}

	.item-md
	{
		padding-left: 0;

		a[item-right] { margin-right: 20px; }
	}
}