page-que-hacer-calendario .content-md {
  background: url('../assets/img/fondo_calendario.png') center top no-repeat #003333;
  background-size: 320px 568px;

	.retroceder {
		display: block; float: left;
	}
	.mes-actual {
		/*display: block; margin-left: 40px;
		margin-right: 40px; */ text-align: center;
	}
	.avanzar {
		display: block; float: right;
	}
	.monthview-selected {
		background-color: #0000FF;
	}
}
page-que-hacer-calendario .app-container {
	background-color: transparent;

	.calendario-tools {
		width: 270px;
		margin: 0 auto 14px;
		text-align: center;
		a {
			color: #000;
		}
	}
}

page-que-hacer-calendario .toolbar-background {
	background: url('../assets/img/header-trans.png') center -16px no-repeat;
	background-size: 320px;
	box-shadow: none;
}

page-que-hacer-calendario ion-content .calendario-container {
	padding-top: 40px;
}

page-que-hacer-calendario ion-content .calendario-container calendar {
	margin: 0 auto 0;

	.table-bordered {
		width: 240px; margin: 0 auto; border: 0 none;
		th, td { font-size: 0.6em;
		    border: 0 none !important;
		    padding: 3px 0 !important; }
	}
	
}