page-que-hacer-calendario .content-md {
  background: url('../assets/img/fondo_calendario.png') center top no-repeat #003333;
  background-size: 320px 568px;
}

.calendario-container ion-calendar {
	width: 280px; 
	margin: 50px auto 0;

	.button-md, .button-md:hover, .fab-md, .fab-md:hover {
		box-shadow: none; background: none; color: #000; }
	.ion-calendar-row {
		margin: 0 auto; width: 240px !important;
	}
	.ion-calendar-row > div > div, .ion-calendar-row button {
		line-height: 22px; height: 24px !important;
		font-size: 13px;
	}
}