page-que-hacer-calendario .content-md {
  background: url('../assets/img/fondo_calendario.png') center top no-repeat #003333;
  background-size: 320px 568px;

	.retroceder {
		display: block; float: left;
	}
	.mes-actual {
		/*display: block; margin-left: 40px;
		margin-right: 40px; */ text-align: center;
	}
	.avanzar {
		display: block; float: right;
	}
}

page-que-hacer-calendario .toolbar-background {
	background: url('../assets/img/header-trans.png') center -16px no-repeat;
	background-size: 320px;
	box-shadow: none;
}

page-que-hacer-calendario ion-content .calendario-container calendar {
	width: 280px; 
	margin: 50px auto 0;

	.table-bordered {
		width: 280px; margin: 0 auto; border: 0 none;
		th, td { font-size: 0.6em;
		    border: 0 none !important;
		    padding: 3px 0 !important; }
	}
	
}