page-home {

}
page-home ion-content {
  background: url('/assets/img/bg-home.png') center top no-repeat;
  background-size: 370px 668px;
  width: 370px;
  margin: 0 auto;
}
.home-btn{
  display: block;
  position: absolute;
}
.que-hacer-btn{
  background: url('/assets/img/1_1080x1920.png') center top no-repeat;
  background-size: 98px 98px;
  width: 98px;
  height: 98px;
  top: 46px;
  right: 1px;
}
.donde-esta-btn {
  background: url('/assets/img/2_1080x1920.png') center top no-repeat;
  background-size: 98px 98px;
  width: 98px;
  height: 98px;
  top: 99px;
  left: 143px;
}
.que-necesito-btn {
  background: url('/assets/img/3_1080x1920.png') center top no-repeat;
  background-size: 98px 98px;
  width: 98px;
  height: 98px;
  top: 186px;
  left: 48px;
}
.consultanos-btn {
  background: url('/assets/img/4_1080x1920.png') center top no-repeat;
  background-size: 98px 98px;
  width: 98px;
  height: 98px;
  top: 304px;
  left: 13px;
}
.vales-descuento-btn {
  background: url('/assets/img/5_1080x1920.png') center top no-repeat;
  background-size: 98px 98px;
  width: 98px;
  height: 98px;
  top: 431px;
  left: 21px;
}
.zonas-wifi-btn {
  background: url('/assets/img/wifi_640x1136.png') center top no-repeat;
  background-size: 101px 101px;
  width: 101px;
  height: 101px;
  top: 411px;
  left: 247px;
}

@media screen and (-webkit-device-pixel-ratio: 1.5) {
  /* CSS for high-density screens */

}

@media screen and (-webkit-device-pixel-ratio: 0.75) {

}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) {
  /* iPhone 6 landscape */
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) {
  /* iPhone 6+ landscape */
}

@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px){
  /* iPhone 6 and iPhone 6+ portrait and landscape */
}
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : landscape){
  /* iPhone 6 and iPhone 6+ landscape */
}
