// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
body { overflow: auto; }
ion-spinner {
  text-align: center;
  margin: 0 auto;
  display: block;
}
.scroll-content {
  
}
.content-md, body, html {
	background-color: #003837 !important;
}

.platform-core .ion-page {
	  
	width: 320px;
	height: 480px;

	  /*
  width: 320px;
  height: 568px;
  	*/
  
	/*
	width: 414px;
	height: 736px;
	*/
	  /*  
	width: 414px;
	height: 736px;
  */

  	/*
	width: 360px;
	height: 640px;
  	*/
}
.app-container {
  position: relative;
  margin: 0 auto;
	width: 320px;
	height: 568px;
	background-color: #fff;
}

ion-content, .scroll-content {
  padding: 0 !important;
  margin: 0 auto;
}
.toolbar-background {
	background: url('../assets/img/header1.png') center center no-repeat;
	background-size: 320px;
	background-color: #166853;
	border: 0 none;
	box-shadow: none;
}
.toolbar-background button {
	color: #fff;
}

.bottom-app, ion-footer {
	background: url('../assets/img/tira_base.png') center center no-repeat;
	background-size: 320px;
    width: 320px;
    height: 46px;
    margin: 0 auto;
}
.list-md ion-item:nth-child(even){
	background-color: #B4E8D3;
}

.list-md .item-block .item-inner {
	border-bottom: 0 none;
}
.list-md > .item-block {
	border-bottom: 1px solid #dedede;
}
.app-container .list-md ion-thumbnail {
	margin: 0 12px 0 0;
}
.item-md ion-thumbnail img {
	max-width: 11rem;
	max-height: 12rem;
}
.with-padding {
	padding-left: 12px !important;
}

ion-header::after {
	display: none;
}
.pull-left-clear { float: left; clear: both; }
.list-md { margin-bottom: 0; }

ion-content {
	.list-md > .item-block:first-child { border-top: 0 none; }
	ion-item { position: relative; }

	.item-md ion-thumbnail { min-height: 9.5rem; }

	.item-md ion-thumbnail img { padding-right: 12px; }
}	