// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
body { overflow: auto; margin: 0; padding: 0; }
ion-spinner {
  text-align: center;
  margin: 0 auto;
  display: block;
}
.scroll-content {
  
}
.content-md, body, html,
.content-ios, .content-wp, ion-footer {
	background-color: #003333 !important;
}

.app-container {
  position: relative;
  margin: 0 auto;
	width: 320px; height: 100%;
	background-color: #fff;
}

ion-content, .scroll-content {
  padding: 0 !important;
  margin: 0 auto;
}
.toolbar-background {
	background: url('../assets/img/header1.png') center center no-repeat;
	background-size: 320px;
	background-color: #166853;
	border: 0 none;
	box-shadow: none;
}
.toolbar-background button {
	color: #fff;
}

ion-footer div {
	background: url('../assets/img/tira_base.png') center center no-repeat;
	background-size: 320px;
    width: 320px;
    height: 46px;
    margin: 0 auto;
}
ion-item:nth-child(even),
{
	background-color: #B4E8D3;
}

.item-block .item-inner {
	border-bottom: 0 none !important;
}
.item-block {
	border-bottom: 1px solid #dedede;
}
.app-container .list-md ion-thumbnail,
.app-container .list-ios ion-thumbnail,
.app-container .list-wp ion-thumbnail {
	margin: 0 12px 0 0;
}
.item-md ion-thumbnail img,
.item-ios ion-thumbnail img,
.item-wp ion-thumbnail img  {
	max-width: 11rem;
	max-height: 12rem;
}
.with-padding {
	padding-left: 12px !important;
}

ion-header::after {
	display: none;
}
.pull-left-clear { float: left; clear: both; }
.list-md, .list-ios, .list-wp { margin-bottom: 0; }

ion-content {
	.list-md > .item-block:first-child,
	.list-ios > .item-block:first-child,
	.list-wp > .item-block:first-child { border-top: 0 none; }
	ion-item { position: relative; }

	.item-md ion-thumbnail,
	.item-ios ion-thumbnail,
	.item-wp ion-thumbnail { min-height: 9.5rem; }

	.item-md ion-thumbnail img,
	.item-ios ion-thumbnail img 
	.item-wp ion-thumbnail img  { padding-right: 12px; }
}
.back-button { color: #fff; }
.clear { clear: both; height: 0; }

.scroll-content {
    overflow-y:auto;
}
::-webkit-scrollbar, *::-webkit-scrollbar {
  display: none;
}
body .footer-md::before {
	background-image: none;
}