<!--
  Generated template for the Actividades page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="app-container">
      <div *ngIf="actividades!==null">
        <ion-list>
          <ion-item *ngFor="let actividad of actividades">
            <div class="clear"></div>
            <div class="fecha" item-left>
              <span class="dia">{{ actividad.dia }}</span><br />
              <span class="mes">{{ actividad.mes }}</span><br />
              <span class="hora-minutos">{{ actividad.hora_minutos }}</span>
              </div>
            <ion-thumbnail>
              <img src="{{ urlBase + actividad.imagen }}">
            </ion-thumbnail>
            <div class="actividad" item-right>
              <h2>{{ actividad.titulo }}</h2>
              <span>{{ actividad.organizacion_nombre }}</span>
            </div>
          </ion-item>
        </ion-list>
      </div>
      <div *ngIf="actividades===null">
        <ion-spinner name="bubbles"></ion-spinner>
      </div>
  </div>
</ion-content>
<ion-footer></ion-footer>