page-actividades {

	.item-block {
		padding-left: 0;
		position: relative;
	}
	.label-md, .label-ios, .label-wp {
		margin-right: 0;
	}
}
page-actividades ion-content {

	.fecha {
		text-align: center;
		margin: 0 !important;
		width: 70px;
		color: #fff;
		background-color: #000;
		position: relative;
		top: -1rem;
		padding: 1rem 0;
	}

	.dia { font-weight: bold; color: #FF6347; font-size: 2rem; line-height: 1em; }
	.mes { font-size: 0.55em; text-transform: uppercase; }
	.hora-minutos { font-weight: bold; color: #FF6347; padding-top: 2px; display: inline-block; }

	ion-item:nth-child(even) {
		.dia { color: #9932CC}
		.hora-minutos { color: #9932CC }
	
		.actividad{
			h2 { color: #9932CC }
		}
	}

	.item, ion-list ion-item {
		background-color: #000; border-bottom: 1px solid #000;
	}

	.label-md, .label-ios, .label-wp { margin-top: 0; padding-top: 0; }

	.app-container .item-block .item-inner {
		padding-right: 0;
	}

	.item .item-inner ion-thumbnail {
		margin-right: 0;
		min-width: 24rem;

		img {
			max-width: 100% !important;
			width: 100% !important;
			height: auto !important;
			padding-right: 0;
		}
	}

	.actividad {
		width: 120px;
		font-size: 0.8em;

		h2 {
			font-size: 1.2em;
			margin-bottom: 0.4em; font-weight: bold; color: #FF6347
		} 
	}

}

	page-actividades .content {
		background: url('../assets/img/fondo_calendario.png') center -27px no-repeat #003333;
  		background-size: 320px 568px;
	}
	.app-container {
		background-color: transparent;
	}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 413px)
and (orientation : portrait) {
  page-actividades ion-content {
    background-size: 375px 667px;
  }

}

@media only screen 
and (min-device-width : 414px) {
  page-actividades ion-content {
	
    background-size: 414px 736px;
  }

}
