<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="categorias!==null">
    <ion-list>
      <ion-item>
        <div item-left>
          <h2>¿Por Concejalias?</h2>
          <div *ngFor="let concejalia of categorias.concejalias">
            <a href="#" (click)="verActividades(concejalia.url_api)"> {{concejalia.nombre}}</a>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div item-left>
          <h2>¿Por actividades?</h2>
          <div *ngFor="let tipoActividad of categorias.tipos_actividad">
            <a href="#" (click)="verActividades(tipoActividad.url_api)"> {{tipoActividad.nombre}}</a>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="categorias===null">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>

</ion-content>
