page-que-hacer-categorias{

}
page-que-hacer-categorias .app-container {
  background-color: #fff;
}

page-que-hacer-categorias ion-content {
  margin: 0 auto;
	.item-md.item-block .item-inner
	{
		padding-right: 0;
	}
}