page-quehacer ion-content {

	.list-md ion-item,
	.list-ios ion-item,
	.list-wp ion-item {
		padding-left: 0;

		img {
			width: 11rem !important;
			max-width: 11rem !important;
			height: 11rem !important;
			max-height: 11rem !important;
		}
	}
	.list-ios ion-item img,
	.list-wp ion-item img {
		width: 10rem !important;
		max-width: 10rem !important;
	}
}
page-quehacer .app-container {
	background-color: #fff;

	.link {
		display: block;
	    width: 70%;
	    margin: 70px auto 0;
	    font-weight: bold;
	    color: #000;
	    text-decoration: none;
	    font-size: 15px;
	}
}

