<!--
  Generated template for the Organizacion component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-item [ngClass]="{'is-even': isEven, 'no-image': !organizacion.imagen,
		'with-border': !organizacion.url_facebook && !organizacion.url_twitter && !organizacion.url_youtube && !organizacion.telefono && !organizacion.email }">
	<ion-thumbnail item-left *ngIf="organizacion.imagen">
	  <img class="a" src="{{ urlBase + organizacion.imagen }}">
	</ion-thumbnail>
	<ion-thumbnail item-left *ngIf="!organizacion.imagen">
		<img class="a" src="assets/img/placeholder.png">
	</ion-thumbnail>
	<h2>{{ organizacion.nombre }}</h2>
	<p>
		<span *ngIf="organizacion.direccion">{{ organizacion.direccion }}<br /></span>
		<span *ngIf="organizacion.telefono">Tlf: {{ organizacion.telefono }}<br /></span>
		<span *ngIf="organizacion.url" (click)="openUrl(organizacion.url)">{{ organizacion.url }}<br /></span>
		<span class="ln-break" *ngIf="organizacion.descripcion">{{ organizacion.descripcion }}</span>
	</p>
	<a item-right *ngIf="modo != 'que-necesito' && organizacion.numero_hijos > 0" href="javascript:;" (click)="cargarOrganizacion(organizacion.url_api)">
		<ion-icon name="arrow-forward"></ion-icon>
	</a>
	<a class="size" item-right *ngIf="modo == 'que-necesito'" href="javascript:;" (click)="openMap(organizacion.latitud, organizacion.longitud)">
		<i class="fa fa-map-marker"></i>
	</a>
</ion-item>
<ion-item class="org-toolbar" *ngIf="organizacion.url_facebook != null || organizacion.url_twitter != null || organizacion.url_youtube != null || organizacion.telefono != null || organizacion.email != null">
	<ul>
	<li>
	  <a class="" *ngIf="organizacion.url_facebook != null" href="javascript:;"
	  	(click)="openUrl(organizacion.url_facebook)">
	    <i class="fa fa-facebook"></i>
	  </a>
	</li>
	<li>
	  <a class="" *ngIf="organizacion.url_twitter != null" href="javascript:;"
	  	(click)="openUrl(organizacion.url_twitter)">
	    <i class="fa fa-twitter"></i>
	  </a>	
	</li>
	<li>  
	  <a class="" *ngIf="organizacion.url_youtube != null" href="javascript:;"
	  	(click)="openUrl(organizacion.url_youtube)">
	    <i class="fa fa-youtube"></i>
	  </a>
	</li>
	<li>
	  <a class="" *ngIf="organizacion.telefono != null" href="javascript:;"
	  	 (click)="dialPhone(organizacion.telefono)">
	    <i class="fa fa-phone"></i>
	  </a>
	</li>
	<li>
	  <a class="" *ngIf="organizacion.email != null" href="javascript:;"
	  	 (click)="writeMail(organizacion.email)">
	    <ion-icon name="mail"></ion-icon>
	  </a>
	</li>
	</ul>
</ion-item>